.shopping-cart-icon {
    font-size: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.login-button {
    padding:  10px 20px;
    text-decoration: none;
}

.signup-button {
    text-decoration: none;
    background-color: rgb(234, 52, 52);
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
}

.signup-button:hover {
    color: white;
    background-color: rgb(193, 104, 104);
    transition: 0.3s;
}